<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>app colfrance</title>
    <link rel="stylesheet" href="{% static 'aforo_silos/css/vars.css' %}" />

    {% block styles_login %}

    {% endblock %}

    {% block styles_modulos %}

    {% endblock %}

    {% block styles_modulo_registro %}

    {% endblock %}

    {% block blockname %}

    {% endblock %}
  </head>

  <body class="bg-light d-flex flex-column min-vh-100">
    <main class="container">
      {% block aforo_silos %}

      {% endblock %}

      {% block modulos %}
        {% block modulo_registro %}

        {% endblock %}
      {% endblock %}

      {% block modulo_ver_registros %}

      {% endblock %}
      {% block modulo_ver_registro %}

      {% endblock %}
      {% block modulo_soporte %}

      {% endblock %}
      {% block modulo_soporte_registro %}

      {% endblock %}

      {% comment %}Pagina web ----------------------------------------------{% endcomment %}

      {% block principal %}

      {% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    {% comment %}Script de funcionalidad del toast{% endcomment %}
    <script>
      // Auto cerrar en 4s
      setTimeout(() => {
        document.querySelectorAll('.toast').forEach((toast) => {
          hideToast(toast)
        })
      }, 4000)
      
      function closeToast(btn) {
        const toast = btn.parentElement
        hideToast(toast)
      }
      
      function hideToast(toast) {
        if (toast.classList.contains('hiding')) return // evita doble ejecución
      
        toast.classList.add('hiding')
        toast.style.animation = 'toast-out 0.5s ease forwards'
      
        setTimeout(() => {
          toast.remove()
        }, 500)
      }
    </script>
  </body>
</html>
